.analytics-box{
  margin: auto;
  width: 350px;
  padding: 15px;
  background-color: rgb(185, 214, 250);
  border: 2px solid #5b90c2;
  border-radius: 10px;
  overflow: hidden;
}

.analytics-table{

}

.ana-row{
  align-items: center;
}

.ana-col{
  flex-grow: 1;
}

.ana-col:first-child{
  padding-right: 15px;
}

.ana-col:last-child{
  
}
