

header{
  height: var(--header-height);
  background: var(--header-bg);
  border-bottom: var(--content-border);
}

main{
  background: var(--main-bg);

  min-height: var(--main-height);
  overflow: hidden;
}

footer{
  height: var(--footer-height);
  background: var(--footer-bg);
}

.main-height{
  min-height: var(--main-height);
}


.main-content{
  background-color: var(--content-bg);

  min-width: calc(50px + var(--record-sheet-width) + var(--group-main-min-width));
  width: var(--content-width);


  border-left: var(--content-border);
  border-right: var(--content-border);
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
}

@media only screen and (max-width: 1000px) {
  .main-content{
    width: 90vw
  }
}

.content-child{
  width: var(--content-children-width);
  min-width:  calc(var(--record-sheet-width) + var(--group-main-min-width));
}

.mc-header{

}

.separator {
  border-bottom: 2px solid #d4d4d4;
}

.green-button{
  background-color: var(--header-bg);
  color: white;
  font-weight: 600;
  padding: 10px;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 5px;
  font-size: 17px;
}

.green-button:hover {
  background-color: #68b371;
}

.green-button:active {
  background-color: rgb(80, 172, 92);
}

.log-group{
  border-radius: 5px;
  overflow: hidden;
}

.log-group-head{
  padding: 15px;
  background: var(--header-bg);
  height: 60px;
}

.log-group-head:hover{
  color: rgb(241, 243, 137);
}

.log-lower{
  background-color: #fff;
  transition: height 0.5s;
}

.log-lower.closed{
  /*pointer-events: none;
  opacity: 0;
  user-select: none;*/
}


.log-inner{
  flex-direction: row-reverse;
  height: var(--log-lower-height)
}

.record-sheet{
  border-right: var(--record-sheet-border);
  width: var(--record-sheet-width);
  background-color: var(--record-sheet-bg);
}

.record-head{
  border-bottom: 2px solid var(--record-sheet-border-color);/*var(--record-sheet-border);*/
  min-height: 60px;
  padding: var(--record-head-padding);
}

.record-lower{
  /*min-height: 150px;
  max-height: 60vh;*/
  overflow-y: auto;
}

.entry-row{
  gap: var(--record-entry-gap)
}

.entry-row.top{
  border-bottom: 2px solid var(--record-sheet-border-color);
  padding-bottom: 10px;
  margin-bottom: 8px;
}

.record-row{
  background-color: transparent;
  transition: background-color 1.5s;
}

.freshly-added{
  background-color: var(--header-bg);
}

.record-cell{
  border-right: var(--record-sheet-border);
  border-bottom: var(--record-sheet-border);
  font-size: var(--record-sheet-font-size);

  height: var(--record-cell-height);
  width: var(--record-cell-width)
}

.record-cell.static{
  padding: 0 10px;
}

.record-cell:last-child{
  border-right: 0;
}

.record-cell.trash{
  width: calc(100% - 2*(var(--record-cell-width)));
  cursor: pointer;
  color: rgb(90, 90, 90);
  font-size: 15px;
}

.record-cell.trash:hover{
  color: red;
}

.record-cell.group-cell{
  width: 50%;
}

.cell-input{
  outline: none;
  background-color: transparent;
  border: 0;
  width: 100%;
  padding: 0 10px;
  height: 100%;
  font-size: var(--record-sheet-font-size);
}


.date-entry{
  outline: none;
}


.entry-input{
  font-size: 15px;
  height: var(--record-entry-height);
  border: var(--record-sheet-border);
  border-radius: 3px;
  padding: 0 5px;
  outline: none;

  /*width: calc( (var(--record-sheet-width) - 2*var(--record-head-padding) - var(--record-cell-height) - var(--record-entry-items)*var(--record-entry-gap)) / 2);*/
}

.sf-dropdown-open > .sf-dropdown-button{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0 !important;
}

.sf-dropdown-button{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 0 5px;
}

.metric-entry > .sf-dropdown-button{
  height: var(--record-entry-height);
  border: var(--record-sheet-border);
}

.metric-entry > .sf-dropdown-content{
  border-left: var(--record-sheet-border);
  border-right: var(--record-sheet-border);
  border-bottom: var(--record-sheet-border);
}

.ystat-dropdown{
  width: 100%;
  align-self: stretch;
}

.ystat-dropdown > .sf-dropdown-button{
  border: 0;
  height: 100%;
  background-color: transparent;
  border-bottom: var(--record-sheet-border);
  border-radius: 0;
}

.ystat-dropdown > .sf-dropdown-content{
  
  border-left: var(--record-sheet-border);
  border-right: var(--record-sheet-border);
  border-bottom: var(--record-sheet-border);
}

.sf-dropdown-option{
  padding: 2px 5px;
  cursor: pointer;
}

.sf-dropdown-button{
  display: flex;
  align-items: center;
}

.sf-dropdown-option:hover, .sf-dropdown-option.keyboard{
  background-color: #eee;
}

.sf-dropdown-option.sf-selected{
  background-color: rgb(178, 218, 255) !important;
}

.metric-dropdown-con{
  width: 50%;
}

.entry-date{
  /*width: calc( (var(--record-sheet-width) - 2*var(--record-head-padding)) / 2 - var(--record-entry-gap) / 2);*/
  flex-grow: 1;
  width: 0;
}

.entry-value{
  flex-grow: 1;
  width: 100%;
  /*width: calc( (var(--record-sheet-width) - 2*var(--record-head-padding)) / 2 - var(--record-entry-gap) / 2);*/
}

.data-entry-plus{
  min-width: var(--record-entry-height);
  width: var(--record-entry-height);
  min-height: var(--record-entry-height);
  height: var(--record-entry-height);

  background: linear-gradient(180deg, #6ce47c, #28c23d);
  border-radius: 4px;
  cursor: pointer;
  border: var(--record-sheet-border);
}

.data-entry-plus.invalid-entry{
  background: linear-gradient(180deg, rgb(224, 224, 224), rgb(163, 163, 163)) !important;
  pointer-events: none !important;
}

.data-entry-plus:hover{
  background: linear-gradient(180deg, rgb(250, 144, 74), rgb(190, 86, 17));
}

.data-entry-plus:active{
  background: linear-gradient(180deg, rgb(231, 121, 47), rgb(148, 66, 11));
}

.value-plus-box{
  width: calc( (var(--record-sheet-width) - 2*var(--record-head-padding)) / 2 - var(--record-entry-gap) / 2);
  gap: var(--record-entry-gap)
}

.date-caret-box{
  width: calc( (var(--record-sheet-width) - 2*var(--record-head-padding)) / 2 - var(--record-entry-gap) / 2);
}

.caret-box{
  color: #6ec077;
}

.caret-box:hover{
  color: rgb(245, 107, 15);
}

.edit-pen{
  opacity: 0;
  border-radius: 50%;
  padding: 6px;
}

.edit-pen:hover{
  background-color: #505050;
}

.log-group-head:hover .edit-pen, .edit-pen:focus{
  opacity: 1;
  color: rgb(241, 243, 137);
}

.edit-title-input{
  background: transparent;
  
  outline: none;
  font-size: 20px;
}

.edit-title-input.group-title-box{
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid rgb(138, 138, 138);
  color: white;
}

.group-title-box{
  border: 2px solid transparent;
  padding: 5px 0;
}

.group-main{
  padding: 10px 0;
  min-width: var(--group-main-min-width);
}

.gm-content{
  padding: 0 20px;
}

.trash-box:hover{
  color: red;
  cursor: pointer;
}


dialog.bp-popup{
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 5px;;
}

dialog:focus-visible{
  outline: none;
}



.delete-popup {
  background-color: white;
  
  width: 430px;
}

.prompt{
  height: 130px;
  padding: 0 20px;
}

.prompt-buttons{
  height: 50px;
}

.prompt-buttons > .ynb{
  border: 0;
  cursor: pointer;
  color: white;
}

.yes{
  background-color: #ff5d5d;
}

.yes:hover{
  background-color: #d34b4b;
}

.yes:active{
  background-color: #b84242;
}

.no{
  background-color: silver;
}

.no:hover{
  background-color: #a8a7a7;
}

.no:active{
  background-color: #8a8888;
}

.tooltip-group{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tooltip-group > .tool-tip-row{
  display: flex;
}

.tooltip-group > .tool-tip-row > div:first-child{
  flex-grow: 1;
  padding-right: 30px;
}

.tooltip-group > .tac{
  color:rgb(109,120,173);
  margin-bottom: 2px;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.record-row.focused > .record-cell:last-child{
  border: 2px solid #67acf3;
}

.record-row.invalid > .record-cell:last-child{
  border: 2px solid red !important;
}