header{
  height: var(--header-height);
  background: var(--header-bg);
  border-bottom: var(--content-border);
}

main{
  background: var(--main-bg);
  min-height: var(--main-height);
}

footer{
  height: var(--footer-height);
  background: var(--footer-bg);
}

.main-height{
  min-height: var(--main-height);
}


.main-content{
  background-color: var(--content-bg);
  width: var(--content-width);
  border-left: var(--content-border);
  border-right: var(--content-border);
  padding-top: 50px;
  margin: auto;
}

.content-child{
  width: var(--content-children-width);
}

.mc-header{

}

.separator {
  border-bottom: 2px solid #d4d4d4;
}

.green-button{
  background-color: #bef1c4;
  padding: 10px;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 5px;
  font-size: 17px;
}

.green-button:hover {
  background-color: #95eba0;
}

.green-button:active {
  background-color: #6ce47c;
}

.log-group{
  border-radius: 5px;
  overflow: hidden;
}

.log-group-head{
  padding: 15px;
  background: var(--header-bg);
  
}