header{
  height: var(--header-height);
  background: var(--header-bg);
  border-bottom: var(--content-border);
}

main{
  background: var(--main-bg);
  min-height: var(--main-height);
}

footer{
  height: var(--footer-height);
  background: var(--footer-bg);
}

.main-height{
  min-height: var(--main-height);
}


.main-content{
  background-color: var(--content-bg);
  width: var(--content-width);
  border-left: var(--content-border);
  border-right: var(--content-border);

  margin: auto;
}

.content-child{
  width: var(--content-children-width);
}

.mc-header{
  padding: 50px 0;
}